!pip install markdown2
!pip install spacy
!pip install nltk
!pip install contractions
!pip install inflect
!pip install pandas
!pip install matplotlib
!pip install pyLDAvis

import nltk
nltk.download('stopwords')
!python -m spacy download en_core_web_sm